.movieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: start;
  }
  
  .movieWrapper {
    position: relative;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .movieList {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }